<section
  id="contact"
  class="section-indentation section-color"
  aria-labelledby="contact-title"
>
  <div class="container">
    <h2 class="title" id="contact-title">Контактна інформація</h2>
    <div class="contact-wrap">
      <div class="contact-item">
        <div class="contact-box">
          <svg class="contact-icon" width="20" height="20" aria-label="Адреса">
            <use href="/img/symbol-defs.svg#icon-city"></use>
          </svg>
          <span class="contact-text">Вул. Льва Толстого 7</span>,
          <span>Харків</span>, <span>61000</span>,
          <span>Україна</span>
        </div>
        <div class="contact-box">
          <svg class="contact-icon" width="20" height="20" aria-label="Телефон">
            <use href="/img/symbol-defs.svg#icon-phone"></use>
          </svg>
          <span class="contact-text">+380 59 765 43 21</span>
        </div>
        <div class="contact-box">
          <svg class="contact-icon" width="20" height="20" aria-label="Email">
            <use href="/img/symbol-defs.svg#icon-email"></use>
          </svg>
          <a
            class="contact-link"
            href="mailto:contact@boxpodarunok.com"
            aria-label="Написати на email"
            >contact@boxpodarunok.com</a
          >
        </div>
      </div>
      <div>
        <img
          src="/img/contact.webp"
          alt="Зображення контактної інформації"
          width="520"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
