@import url('general.scss');
@import url('header.scss');

.policy-nav {
  display: block;
}

.title {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin: 12px 0;
}

.policy-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
    margin: 36px 0;
  }

  .policy-wrap {
    font-size: 20px;
  }
}
